@media only screen and (max-width: 600px) {

    button.landing-signup-btn {
        font-weight: 500;
        background: none;
        border: 1px solid black;
        width: 9rem;
        height: 2.5rem;
        border-radius: 20px;
    }

    h1.landing-header-text {
        display: grid;
        justify-self: center;
        text-align: center;
    }

    .text-wrapper {
        display: grid;
        justify-items: center;
        margin-top: 15vh;
    }

    .landing-page {
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-content: center;
    }

    .right-wrapper {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .landing-gfx {
        height: 50vh;
        width: 90vw;
    }

    .landing-signup-btn {

    }

    img.logo-text {
        width: 20rem;
        justify-self: center;
        display: flex;
    }

    .text-wrapper {
        display: grid;
    }

    .landing-signup-btn:hover {
        background-color: black;
        color: white;
    }

    .landing-signup-btn:focus {
        outline: none;
    }

}


@media only screen and (min-width: 600px) {
    button.landing-signup-btn {
        font-weight: 500;
        background: none;
        border: 1px solid black;
        width: 9rem;
        height: 2.5rem;
        border-radius: 20px;
    }

    h1.landing-header-text {
        display: grid;
        justify-self: center;
        text-align: center;
    }

    .text-wrapper {
        display: grid;
        justify-items: center;
        margin-top: 15vh;
    }

    .landing-page {
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-content: center;
    }

    .right-wrapper {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .landing-gfx {
        height: 90vh;
        width: 90vw;
    }

    .landing-signup-btn {

    }

    img.logo-text {
        width: 20rem;
        justify-self: center;
        display: flex;
    }

    .text-wrapper {
        display: grid;
    }

    .landing-signup-btn:hover {
        background-color: black;
        color: white;
    }

    .landing-signup-btn:focus {
        outline: none;
    }

}







/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .landing-header-text {
        margin-left: 10%;
    }

    .landing-page {
        display: flex;
        height: 100vh;
        width: 100vw;
    }
    
    .logo-text {
        margin-left: 10%;
        display: flex;
        align-self: center;
        width: 30rem;
    }
    
    
    .text-wrapper {
        margin: 0;
        display: grid;
        place-content: center;
        overflow: hidden;
        height: 100vh;
        width: 50vw;
        position: relative;
    }

    
    .right-wrapper {
        display: flex;
        justify-content: center;
        align-items: baseline;
        height: 100vh;
        width: 50vw;
    }
    
    .landing-gfx {
        width: 40rem;
        height: 40rem;
    }
    
    .landing-signup-btn:focus {
        outline: none;
    }

    .landing-signup-btn {
        font-weight: 500;
        background: none;
        border: 1px solid black;
        padding: 10px 45px;
        border-radius: 20px;
        margin-left: 10%;
    }
    
    .landing-signup-btn:hover {
        background-color: black;
        color: white;
    }


}









/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .landing-header-text {
        margin-left: 10%;
    }

    .landing-page {
        display: flex;
        height: 100vh;
        width: 100vw;
    }
    
    .logo-text {
        margin-top: 0 !important;
        margin-left: 10%;
        display: flex;
        align-self: center;
        width: 30rem;
    }
    
    
    .text-wrapper {
        margin: 0 !important;
        overflow: hidden !important;
        height: 100vh !important;
        width: 50vw !important;
        position: relative !important;
        display: grid !important;
        place-content: center !important;
    }
    
    .right-wrapper {
        display: flex;
        justify-content: center;
        align-items: baseline;
        height: 100vh;
        width: 50vw;
    }
    
    .landing-gfx {
        width: 40rem;
        height: 40rem;
    }
    
    .landing-signup-btn:focus {
        outline: none;
    }

    .landing-signup-btn {
        font-weight: 500;
        background: none;
        border: 1px solid black;
        padding: 10px 45px;
        border-radius: 20px;
        margin-left: 10%;
    }
    
    .landing-signup-btn:hover {
        background-color: black;
        color: white;
    }
}