@media only screen and (max-width: 600px) {

}







/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .landing-header-text {
        margin-left: 10%;
    }

    .landing-page {
        display: flex;
        height: 100vh;
        width: 100vw;
    }
    
    .logo-text {
        margin-top: 30vh;
        margin-left: 10%;
        display: flex;
        align-self: center;
        width: 30rem;
    }
    
    
    .text-wrapper {
        height: 100vh;
        width: 50vw;
        position: relative;
    }
    
    .right-wrapper {
        display: flex;
        justify-content: center;
        align-items: baseline;
        height: 100vh;
        width: 50vw;
    }
    
    .landing-gfx {
        width: 40rem;
        height: 40rem;
    }
    
    .landing-signup-btn:focus {
        outline: none;
    }

    .landing-signup-btn {
        font-weight: 500;
        background: none;
        border: 1px solid black;
        padding: 10px 45px;
        border-radius: 20px;
        margin-left: 10%;
    }
    
    .landing-signup-btn:hover {
        background-color: black;
        color: white;
    }

    .glass {
        width: 300px;
        height: 100px;
        z-index: 10;
        background: rgba( 255, 255, 255, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 8.5px );
        -webkit-backdrop-filter: blur( 8.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        position: absolute;
    }

    .glass-circle {
        width: 100px;
        height: 100px;
        z-index: 10;
        background: rgba( 255, 255, 255, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 8.5px );
        -webkit-backdrop-filter: blur( 8.5px );
        border-radius: 100px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        position: absolute;
        margin-bottom: 19%;
        margin-left: 24%;
    }

}









/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}