@media only screen and (max-device-width: 568px) {
    .register-wrapper {
        margin-top: 2rem;
        display: grid;
        width: 90vw;
        height: 82vh;
        place-content: center;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 15px;
    }
}


@media only screen and (max-width: 600px) {
    .register-modal {
        background: transparent;
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .register-wrapper {
        display: grid;
        width: 90vw;
        height: fit-content;
        padding: 1rem;
        place-content: center;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 15px;
    }

    .signup-name-input, .signup-email-input, .signup-password-input {
        width: 15rem;
        height: 2.4rem;
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
        border-radius: 20px;
        border: 1px solid white;
        outline: none;
        text-indent: 25px;
    }

    .register-form {
        display: grid;
        place-items: center;
    }

    .register-modal-btn {
        display: flex;
        background-color: blue;
        color: white;
        border: none;
        font-size: 1rem;
        padding: 15px 65px;
        font-weight: bold;
        border-radius: 30px;
        outline: none;
        margin-top: 2rem;
    }

    .register-modal-btn:hover {
        background: #f50093;
        color: white;
        border: 1px solid bluebird;
    }

    .register-logo {
        width: 2rem;
        height: 2rem;
        display: grid;
        justify-self: center;
    }

    .register-logo-title {
        text-align: center;
        font-size: 2rem;
    }

    .register-text {
        font-size: 1rem;
        margin-top: 4rem;
    }
}


@media only screen and (min-width: 600px) {
    .register-modal {
        background: transparent;
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .register-wrapper {
        display: grid;
        width: 90vw;
        height: fit-content;
        padding: 1rem;
        place-content: center;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 15px;
    }

    .signup-name-input, .signup-email-input, .signup-password-input {
        width: 20rem;
        height: 2.4rem;
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
        border-radius: 20px;
        border: 1px solid white;
        outline: none;
        text-indent: 25px;
    }

    .register-form {
        display: grid;
        place-items: center;
    }

    .register-modal-btn {
        display: flex;
        background-color: blue;
        color: white;
        border: none;
        font-size: 1rem;
        padding: 15px 65px;
        font-weight: bold;
        border-radius: 30px;
        outline: none;
        margin-top: 2rem;
    }

    .register-modal-btn:hover {
        background: #f50093;
        color: white;
        border: 1px solid bluebird;
    }

    .register-logo {
        width: 3rem;
        height: 3rem;
        display: grid;
        justify-self: center;
    }

    .register-logo-title {
        text-align: center;
        font-size: 3rem;
    }

    .register-text {
        font-size: 1rem;
        margin-top: 4rem;
    }
}

@media only screen and (min-width: 768px) {
    .register-modal {
        background: transparent;
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .register-wrapper {
        display: grid;
        width: 55vw;
        height: fit-content;
        padding: 1rem;
        place-content: center;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 15px;
    }

    .signup-name-input, .signup-email-input, .signup-password-input {
        width: 20rem;
        height: 2.4rem;
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
        border-radius: 20px;
        border: 1px solid white;
        outline: none;
        text-indent: 25px;
    }

    .register-form {
        display: grid;
        place-items: center;
    }

    .register-modal-btn {
        display: flex;
        background-color: blue;
        color: white;
        border: none;
        font-size: 1rem;
        padding: 15px 65px;
        font-weight: bold;
        border-radius: 30px;
        outline: none;
        margin-top: 2rem;
    }

    .register-modal-btn:hover {
        background: #f50093;
        color: white;
        border: 1px solid bluebird;
    }

    .register-logo {
        width: 3rem;
        height: 3rem;
        display: grid;
        justify-self: center;
    }

    .register-logo-title {
        text-align: center;
        font-size: 3rem;
    }

    .register-text {
        font-size: 1rem;
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 992px) {
    .register-modal {
        background: transparent;
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .register-wrapper {
        display: grid;
        width: 45vw;
        height: fit-content;
        padding: 1rem;
        place-content: center;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 15px;
    }

    .signup-name-input, .signup-email-input, .signup-password-input {
        width: 20rem;
        height: 2.4rem;
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
        border-radius: 20px;
        border: 1px solid white;
        outline: none;
        text-indent: 25px;
    }

    .register-form {
        display: grid;
        place-items: center;
    }

    .register-modal-btn {
        display: flex;
        background-color: blue;
        color: white;
        border: none;
        font-size: 1rem;
        padding: 15px 65px;
        font-weight: bold;
        border-radius: 30px;
        outline: none;
        margin-top: 2rem;
    }

    .register-modal-btn:hover {
        background: #f50093;
        color: white;
        border: 1px solid bluebird;
    }

    .register-logo {
        width: 3rem;
        height: 3rem;
        display: grid;
        justify-self: center;
    }

    .register-logo-title {
        text-align: center;
        font-size: 3rem;
    }

    .register-text {
        font-size: 1rem;
        margin-top: 2rem;
    }
}


@media only screen and (min-width: 1200px) {
    .register-modal {
        background: transparent;
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .register-wrapper {
        display: grid;
        width: 34vw;
        height: fit-content;
        padding: 2rem;
        place-content: center;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 15px;
    }

    .signup-name-input, .signup-email-input, .signup-password-input {
        width: 20rem;
        height: 2.4rem;
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
        border-radius: 20px;
        border: 1px solid white;
        outline: none;
        text-indent: 25px;
    }

    .register-form {
        display: grid;
        place-items: center;
    }

    .register-modal-btn {
        display: flex;
        background-color: blue;
        color: white;
        border: none;
        font-size: 1rem;
        padding: 15px 65px;
        font-weight: bold;
        border-radius: 30px;
        outline: none;
        margin-top: 2rem;
    }

    .register-modal-btn:hover {
        background: #f50093;
        color: white;
        border: 1px solid bluebird;
    }

    .register-logo {
        width: 2rem;
        height: 3rem;
        display: grid;
        justify-self: center;
    }

    .register-logo-title {
        margin-top: 1rem;
        text-align: center;
        font-size: 3rem;
    }

    .register-text {
        font-size: 1rem;
        margin-top: 2rem;
    }

    .signup-text {
        font-weight: bold;
        display: inline-block;
        position: relative;
        color: #E91E63;
        text-decoration: none;
        margin-left: 5px;
    }

    .signup-text:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #E91E63;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .signup-text:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

}