@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
    .create-profile {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 55px;
    }

    .create-profile-wrapper {
        display: grid;
        justify-content: center;
    }
}

@media only screen and (min-width: 1200px) {
    .create-profile {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 55px;
    }

    .create-profile-wrapper {
        display: grid;
        justify-content: center;
    }

    .pro-status, .company-input, .website-input, .location-input, .skill-input, .github-input {
        width: 100%;
        height: 30px;
        text-indent: 10px;
    }

    .bio-input {
        width: 100%;
        height: 3.5rem;
    }

    small {
        font-size: 12px;
    }

    .create-profile-form {
        display: grid;
    }

    .create-profile-submit-btn {
        height: 40px;
        border: none;
        background-color: blue;
        color: white;
        font-weight: bold;
    }

    .socialmedia-btn {
        width: 200px;
        height: 33px;
        background-color: lightgrey;
        border: none;
        color: white;
        /* font-weight: bold; */
    }

    .twitter-icon, .facebook-icon, .linkedin-icon, .instagram-icon, .youtube-icon {
        width: 30px;
        height: 30px;
        padding-right: 15px;
    }

    .social-input-group {
        display: flex;
        padding: 10px 0px;
    }

    .twitter-input, .facebook-input, .linkedin-input, .youtube-input, .instagram-input {
        width: 100%;
    }

}