@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
    .create-profile {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 55px;
    }

    .create-profile-wrapper {
        display: grid;
        justify-content: center;
    }
}

@media only screen and (min-width: 1200px) {
    .create-profile {
        width: 100vw;
        height: fit-content;
        position: absolute;
        top: 55px;
        display: grid;
        justify-items: center;
    }

    .create-profile-wrapper {
        width: auto;
        height: fit-content;
        padding: 3rem;
        align-self: center;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3.0px );
        -webkit-backdrop-filter: blur( 3.0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        margin: 3rem;
    }

    .pro-status {
        height: 42px;
    }

    .pro-status, .company-input, .website-input, .location-input, .skill-input, .github-input {
        margin-bottom: 1rem;
        width: 100%;
        height: 35px;
        text-indent: 10px;
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
        border-radius: 20px;
        border: 1px solid white;
    }

    .bio-input {
        width: 100%;
        height: 3.5rem;
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
        border: 1px solid white;
        border-radius: 5px;
        text-indent: 15px;
        font-family: system-ui;
    }

    .create-profile-form {
        display: grid;
    }

    .create-profile-submit-btn {
        width: 100%;
        height: 50px;
        border: none;
        background-color: blue;
        color: white;
        font-weight: bold;
        font-size: 15px;
        border-radius: 35px
    }

    .create-profile-submit-btn:hover {
        background-color: #f50093;
    }

    .socialmedia-btn {
        width: 100%;
        height: 43px;
        background-color: #f50093;
        border: none;
        border-radius: 30px;
        font-weight: bold;
        color: white;
    }

    .socialmedia-btn:hover {
        background-color: #ec008e;
    }



    .twitter-icon, .facebook-icon, .linkedin-icon, .instagram-icon, .youtube-icon {
        width: 30px;
        height: 30px;
        padding-right: 15px;
    }

    .social-input-group {
        display: flex;
        padding: 10px 0px;
    }

    .twitter-input, .facebook-input, .linkedin-input, .youtube-input, .instagram-input {
        width: 100%;
        text-indent: 10px;
    }

    .profile-label {
        font-size: 12px;
        margin: 0.5rem 0rem;
    }


    a.go-back-btn {
        padding-top: 16px;
        width: 5rem;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: #000;
        text-decoration: none;
        margin: auto;
    }

    a.go-back-btn::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    a.go-back-btn:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }

    .social-media-wrapper {
        margin: 2rem 0rem;
    }

    .spacer {
        margin: 1rem;
    }

    .create-profile-submit-btn:focus, .socialmedia-btn:focus {
        outline: none;
    }

    .profile-form-title {
        font-size: 3rem;
        text-align: center;
    }

    

}